{% extends "zerver/portico.html" %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% stylesheet 'portico' %}
{% stylesheet 'landing-page' %}
{{ minified_js('landing-page')|safe }}

{% endblock %}

{% block portico_content %}

{% include 'zerver/landing-nav.html' %}

<div id="app" class="apps">
    <div class="main">
        <div class="padded-content headline">
            <h1 class="center">{% trans %}Do we have apps? Appsolutely.{% endtrans %}</h1>
            <h3 class="center">{% trans %}Ok, I take it back, I'm sorry, please don't go.{% endtrans %}</h3>
        </div>

        <div class="padded-content">
            <ul class="sidebar">
                <li data-name="windows">Windows</li>
                <li data-name="mac">Mac</li>
                <li data-name="linux">Linux</li>
                <li data-name="ios">iOS</li>
                <li data-name="android">Android</li>
            </ul>
            <div class="details-container">
                <div class="details-box" data-name="windows">
                    <h1 class="center">Zulip on Windows</h1>

                    <div class="image">
                        <div class="platform description">
                            <h2>Windows 7+</h2>
                            <div class="instructions">
                                <p class="center">
                                    We proudly present Zulip for Windows: the second-best app for Windows on the market today (after Solitaire, obviously).
                                </p>
                            </div>
                            <button class="button grey-transparent" ype="button" name="button">Download Now</button>
                        </div>
                        <div class="platform image">
                            <img src="/static/images/landing-page/assets/macbook.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="details-box" data-name="linux">
                    <h1 class="center">Zulip on Linux</h1>

                    <div class="image">
                        <div class="platform">
                            <h2>Ubuntu &amp; Debian</h2>
                            <div class="instructions">
                                <p>We have an APT repository for Zulip, so adding and installing the app is easy.</p>
                            </div>
<pre>
wget https://zulip.org/dist/keys/user-apt.asc
cat user-apt.asc | sudo apt-key add -
sudo apt-add-repository http://apt.zulip.com/user/
sudo apt-get update

sudo apt-get install zulip-desktop
</pre>
                        </div>
                        <div class="platform">
                            <h2>Other Platforms</h2>
                            <div class="instructions">
                                {% if only_sso %}
                                  <p>{% trans %}We provide a <a href="https://zulip.org/dist/apps/sso/linux/zulip-desktop_latest.bin.tar.gz">binary tarball</a> of the Zulip application, built for 64-bit systems.{% endtrans %}
                                  </p>
                                  <a href="https://zulip.org/dist/apps/sso/linux/zulip-desktop_latest.bin.tar.gz">
                                      <img src="/static/images/landing-page/tar.gz.svg" alt="">
                                  </a>
                                {% else %}
                                  <p>{% trans %}We provide a <a href="https://zulip.org/dist/apps/linux/zulip-desktop_latest.bin.tar.gz">binary tarball</a> of the Zulip application, built for 64-bit systems.{% endtrans %}
                                  </p>
                                  <a href="https://zulip.org/dist/apps/linux/zulip-desktop_latest.bin.tar.gz">
                                      <img src="/static/images/landing-page/tar.gz.svg" alt="">
                                  </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="details-box" data-name="mac">
                    <h1 class="center">Zulip on Mac</h1>

                    <div class="image">
                        <div class="platform description">
                            <h2>macOS</h2>
                            <div class="instructions">
                                <p class="center">You love your Mac. And you love Zulip. So what could be better than a Zulip app for Mac? Enjoy notifications for messages and PMs in your dock whether you're in Sublime, emacs, or Photoshop.</p>
                            </div>
                            <button class="button grey-transparent" ype="button" name="button">Download Now</button>
                        </div>
                        <div class="platform image">
                            <img src="/static/images/landing-page/assets/macbook.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="details-box" data-name="ios">
                    <h1 class="center">Zulip on iPhone</h1>

                    <div class="image">
                        <div class="platform description">
                            <h2>iOS</h2>
                            <div class="instructions">
                                <p class="center">
                                    {% trans %}Zulip has a free, <strong>100% native app</strong> for iPhone and iPad. Please grab it from the <a href="https://play.google.com/store/apps/details?id=com.zulip.android">Google Play Store</a>{% endtrans %}!
                                </p>
                            </div>
                            <button class="button grey-transparent" ype="button" name="button">Get from App Store</button>
                        </div>
                        <div class="platform image">
                            <img src="/static/images/app-screenshots/zulip-iphone-rough.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="details-box" data-name="android">
                    <h1 class="center">Zulip on Android</h1>

                    <div class="image">
                        <div class="platform description">
                            <h2>Android</h2>
                            <div class="instructions">
                                <p class="center">
                                    {% trans %}Zulip has a free, <strong>100% native app</strong> for Android. Please grab it from the <a href="http://itunes.com/apps/zulip">App Store</a>{% endtrans %}!
                                </p>
                            </div>
                            <button class="button grey-transparent" ype="button" name="button">Get from App Store</button>
                        </div>
                        <div class="platform image">
                            <img src="/static/images/app-screenshots/zulip-android.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
