{% extends "zerver/portico.html" %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% stylesheet 'portico' %}
{% stylesheet 'landing-page' %}
{{ minified_js('landing-page')|safe }}

{% endblock %}

{% block hello_page_container %} hello-main{% endblock %}
{% block hello_page_footer %} hello-footer{% endblock %}

{% block os_announcement %}
  {% if show_oss_announcement %}
  <div class="os-headline-container">
    <img src="/static/images/logo/zballoon.png" class="os-illustration" alt="Zulip balloon" />
    <div class="main-headline-text">
      <span class="tagline os-tagline">
         {{ _('Zulip has been released as open source software!') }}
      </span>
      <span class="footnote os-footnote">
         {% trans %}Read the <a href="https://blogs.dropbox.com/tech/2015/09/open-sourcing-zulip-a-dropbox-hack-week-project" target="_blank">announcement</a> or go to <a href="https://www.zulip.org" target="_blank">the Zulip open source project website</a>.{% endtrans %}
      </span>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing-nav.html' %}

<div id="app">
    <div class="main">
        <div class="hero-modal box-shadow">
            <div class="padded-content">
                <div class="text-content main-text">
                    <div class="flex">
                        <div class="flex-inner">
                            <h1>Zulip: Workplace chat, organized.</h1>
                            <p class="grey">
                                Zulip’s unique threading model organizes your chat messages into conversations. Lots of conversations at once, spread across many days? No problem. With Zulip, you read exactly what matters to you.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="image-content">
                    <x-grad class="image orange-grad">
                        <div class="bg macbook"></div>
                        <div class="bg iphone"></div>
                        <div class="slides">
                            <div class="slide-button"></div>
                            <div class="slide-button"></div>
                        </div>
                    </x-grad>
                </div>
            </div>
            <div class="call-to-action">
                <div class="small-padded-content">
                    <div class="text-content">
                        <p class="small grey">
                            Zulip is available on major Mobile and Desktop Operating Systems.
                        </p>
                        <a class="arrow small" href="/apps/">LEARN MORE</a>
                    </div>
                    <div class="action-content">
                        <!-- <button type="button" name="button">Learn More</button> -->
                        <button class="green" type="button" name="button">Register Now</button>
                    </div>
                    <div class="clear-float"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="features" name="features">
        <div class="text-header">
            <div class="text-content">
                <h1>Features</h1>
            </div>
            <div class="action-content">
                <!--
                <a class="small">
                    COMPARE ZULIP WITH COMPETITORS <span class="arrow">&gt;</span>
                </a>
                -->
                <a class="arrow small" href="/features/">
                    SEE ALL FEATURES
                </a>
            </div>
            <div class="clear-float"></div>
        </div>
        <div class="feature-box left">
            <div class="text-content">
                <div class="flex">
                    <div class="inner-flex">
                        <h2 class="dark-grey">Organized</h2>
                        <p class="grey">
                            Follow each conversation separately with Zulip. Messages from bots, sharing links with your co-workers or making lunch plans no longer disrupts your work discussions. Zulip's fast and powerful search experience will delight you.</p>
                        <!-- <a class="small">LEARN MORE <span class="arrow">&gt;</span></a> -->
                    </div>
                </div>
            </div>
            <div class="image" style="background-image: url(/static/images/landing-page/assets/threads.png)"></div>
        </div>
        <div class="feature-box">
            <div class="text-content">
                <div class="flex">
                    <div class="inner-flex">
                        <h2 class="dark-grey">Beautiful Messaging</h2>
                        <p class="grey">
                            Express yourself just how you like with drag-and-drop file uploads, markdown formatting, syntax highlighting, full internationalization, and hundreds of emoji to choose from.
                        </p>
                        <!-- <a class="small">LEARN MORE <span class="arrow">&gt;</span></a> -->
                    </div>
                </div>
            </div>
            <div class="image" style="background-image: url(/static/images/landing-page/assets/features.png)"></div>
        </div>
        <div class="feature-box left">
            <div class="text-content">
                <div class="flex">
                    <div class="inner-flex">
                        <h2 class="dark-grey">Fully Featured</h2>
                        <p class="grey">
                            Zulip has everything you want in group chat. Apps for the iPhone, Android and desktop. 60+ integrations (GitHub, Jira, Zendesk, etc.). Keyboard shortcuts. Emoji reactions. Need anything else? We probably have it.
                        </p>
                        <!-- <a class="small">LEARN MORE <span class="arrow">&gt;</span></a> -->
                    </div>
                </div>
            </div>
            <div class="image" style="background-image: url(/static/images/landing-page/assets/integrations.png)"></div>
        </div>
        <div class="feature-box open-source box-shadow">
            <div class="text-content">
                <div class="flex">
                    <div class="inner-flex">
                        <h2 class="dark-grey">Open Source</h2>
                        <p class="grey">
                            Zulip has the largest open source community of any group chat software.
                        </p>
                        <p class="grey">
                            Zulip is built upon by hundreds of developers around the world. Want some aspect of Zulip to be better? With 60,000 words of developer documentation, a high quality code base and an active, welcoming community, it’s easy for anyone to jump in.
                        </p>
                        <!-- <a class="small">LEARN MORE <span class="arrow">&gt;</span></a> -->
                    </div>
                </div>
            </div>
            <div class="image box-shadow contrib-graph">
                <div class="chart"></div>
            </div>
            <!--
            <div class="punchcard">
                <div class="day" v-for="day in data">
                    <div class="hour-container" v-for="hour in day">
                        <div class="flex">
                            <div class="hour" v-bind:style="'padding:' + (Math.round(hour.value * 12.5) || 0.5) + 'px'"></div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>

    <div class="testimonials">
        <div class="padded-content">
            <div class="text-header">
                <div class="text-content">
                    <h1>Customers</h1>
                </div>
                <div class="action-content">
                    <!--
                    <a class="small">
                        COMPARE ZULIP WITH COMPETITORS <span class="arrow">&gt;</span>
                    </a>
                    -->
                </div>
                <div class="clear-float"></div>
            </div>
            <blockquote class="big-quote">
                &ldquo;Some quote on how Zulip made our company way more efficient. Word word word.&rdquo;
                <br />
                <cite>&mdash; Some Company</cite>
                <div class="clear-float">

                </div>
            </blockquote>
            <div class="company-box">
                <div class="company akamai"></div>
                <div class="company doctorondemand"></div>
                <div class="company levelup"></div>
                <div class="company recurse"></div>
                <div class="company panjiva"></div>
                <div class="company layershift"></div>
                <div class="company solano"></div>
                <div class="company veelo"></div>
                <div class="company cmt"></div>
            </div>
        </div>
    </div>

    <div class="call-to-action-bottom">
        <div class="real-image"></div>
        <div class="blur-outer">
            <div class="blur-inner"></div>
            <div class="inner-content">
                <h1>Like what you see?</h1>
                <a class="no-style"  href="/register">
                    <button class="button grey-transparent" type="button" name="button">Register Now</button>
                </a>

                <div class="zulip-octopus"></div>

                <div class="footer">
                    <ul>
                        <li>About</li>
                        <li>Legal</li>
                        <li>Help</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="main">
        <div class="blog-posts">
            <div class="text-header">
                <div class="text-content">
                    <h1>Recent Blogposts</h1>
                </div>
                <div class="action-content">
                    <a class="small" href="https://blog.zulip.org/">
                        READ ALL BLOGPOSTS <span class="arrow">&gt;</span>
                    </a>
                </div>
                <div class="clear-float"></div>
            </div>

            <div class="blog-box">
                <div class="blog">
                    <div class="image"></div>
                </div>
                <div class="description">
                    <h3 class="bold">Blog #1 Title</h3>
                    <p>
                        Lorem ipsum dolor sit amet, no cum ludus eirmod omittam, dico copiosae eum no.
                    </p>
                </div>
            </div>

            <div class="blog-box">
                <div class="blog">
                    <div class="image"></div>
                </div>
                <div class="description">
                    <h3 class="bold">Blog #2 Title</h3>
                    <p>
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>

            <div class="blog-box">
                <div class="blog">
                    <div class="image"></div>
                </div>
                <div class="description">
                    <h3 class="bold">Blog #3 Title</h3>
                    <p>
                        Lorem ipsum dolor sit amet, no cum ludus eirmod omittam, dico copiosae eum no.
                    </p>
                </div>
            </div>

            <div class="blog-box">
                <div class="blog">
                    <div class="image"></div>
                </div>
                <div class="description">
                    <h3 class="bold">Blog #4 Title</h3>
                    <p>
                        Lorem ipsum dolor sit amet, no cum ludus eirmod omittam, dico copiosae eum no. no cum ludus eirmod omittam, dico copiosae eum no.
                    </p>
                </div>
            </div>
        </div>
    </div>
    -->
</div>
{% endblock %}
