<div class="hide" id="stream-creation" tabindex="-1" role="dialog"
     aria-labelledby="stream-creation-label" aria-hidden="true">
  <form id="stream_creation_form" class="form-inline">
      <div class="stream-creation-body">
          <section class="block">
              <div class="create-stream-title">
                  {% trans %}Stream name{% endtrans %}
              </div>
            <input type="text" name="stream_name" id="create_stream_name"
                 placeholder="{{ _('Stream name') }}" value="" autocomplete="off" />
            <div id="stream_name_error"></div>
          </section>
          <section class="block" id="make-invite-only">
              <div class="create-stream-title">
                  {% trans %}Stream accessibility{% endtrans %}
              </div>
            <label class="radio">
              <input type="radio" name="privacy" value="public" checked />
              <span class="icon-vector-globe"></span>
              {% trans %}Anyone can join{% endtrans %}
            </label><br />
            <label class="radio">
              <input type="radio" name="privacy" value="invite-only" />
              <span class="icon-vector-lock"></span>
              {% trans %}People must be invited{% endtrans %}
            </label>
            <div id="announce-to-new-stream">
                <label class="checkbox">
                  <input type="checkbox" name="announce" value="announce" checked />
                  {% trans %}Announce stream{% endtrans %}
                </label>
                <span class="icon-vector-question-sign" id="announce-stream-docs"></span>
            </div>
          </section>
          <section class="block">
            <label class="control-label" for="people_to_add">
                <div class="create-stream-title">{% trans %}People to add{% endtrans %}</div>
            </label>
            <div class="controls" id="people_to_add"></div>
          </section>
      </div>
      <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{ _("Cancel") }}</button>
          <button class="btn btn-primary" type="submit">{{ _("Create") }}</button>
      </div>
  </form>
</div>
