<div id="subscription_overlay" class="new-style">
    <div class="flex">
        <div class="subscriptions-container">
            <div class="subscriptions-header">
                Subscriptions
                <div class="exit">
                    <span class="exit-sign">&times;</span>
                </div>
            </div>
            <div class="left">
                <div class="search-container">
                    <form id="add_new_subscription" class="form-inline" action="">
                        {{#if can_create_streams}}
                            <input type="submit" class=""
                              id="create_stream_button" value="{{t '+' }}" />
                        {{/if}}
                        <input type="text" name="stream_name" id="search_stream_name"
                          placeholder="{{t 'Filter Streams' }}" value="" autocomplete="off" />
                    </form>
                </div>
                <div class="streams-list">
                    {{#each subscriptions}}
                    {{partial "subscription"}}
                    {{/each}}
                </div>
            </div>
            <div class="right">
                <div class="display-type">
                </div>
                <div class="settings">
                    {{#each subscriptions}}
                    {{ partial "subscription_settings" }}
                    {{/each}}
                </div>
                <iframe id="preview_iframe" src="" width="" height=""></iframe>
            </div>
        </div>
    </div>
</div>
