body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    background-color: #eaeaea;
    color: #444;
    font-size: 1.2em;
    line-height: normal;
}

*::-moz-selection {
    background-color: rgba(69, 191, 168, 0.5);
}

*::selection {
    background-color: rgba(69, 191, 168, 0.5);
}

/* -- component styling -- */
button {
    padding: 5px 12px;

    font-family: inherit;
    font-size: 0.7em;
    background-color: #fff;
    color: #444;

    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

button:active {
    background-color: #fafafa;
    border: 1px solid #bbb;
}

button.green {
    color: #fff;
    background-color: #4fc0ad;

    border: 1px solid #3ca08d;
}

button.button.grey-transparent {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;

    font-size: 1.1rem;
    font-weight: 400;

    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;

    transition: all 0.2s ease;
}

button.button.grey-transparent:hover {
    background-color: rgba(255,255,255,0.2);
}

button.button.grey-transparent:active {
    background-color: #fff;
    color: #666;
}

/* -- navbar styling -- */

nav {
    background-color: #348576;
    background: -webkit-linear-gradient(to bottom, #2e6f63 , #68d2c0);
    background: linear-gradient(-145deg, #2e6f63 , #68d2c0);
    padding: 50px 100px 130px 100px;

    color: #fff;
}

nav #hamburger {
    display: none;
    fill: #fff;
    cursor: pointer;
    margin-top: 3px;
}

nav .content {
    position: relative;
    z-index: 2;
}

nav .stripes,
nav .faded,
nav .faded-light {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

nav .stripes,
nav .faded,
nav .faded-light {
    pointer-events: none;
}

nav .stripes {
    background: repeating-linear-gradient(
      75deg,
      rgba(255,255,255,0) 0px,
      rgba(255,255,255,0.05) 200px
    );
}

nav .faded {
    background: -webkit-linear-gradient(top bottom, transparent , rgba(0,0,0,0.1));
    background: linear-gradient(0deg, transparent , rgba(0,0,0,0.1));
}

nav .faded-light {
    background: -webkit-linear-gradient(top top, transparent , rgba(104, 210, 192, 0.8));
    background: linear-gradient(180deg, transparent , rgba(104, 210, 192, 0.8));
}

nav .logo {
    float: left;
    background-image: url(/static/images/landing-page/assets/bad-logo.png);
    width: 115px;
    height: 40px;
    background-size: 100% auto;
    background-position: center;
}

nav ul {
    float: right;
    list-style-type: none;
    font-weight: 500;
    margin: 0;
    padding: 0;

    cursor: pointer;
}

nav ul li {
    position: relative;
    display: inline-block;
    margin: 10px;

    color: #fff;

    opacity: 0.7;
    transition: all 0.2s ease;
}

li a,
li a:hover {
    text-decoration: none;
    color: #fff !important;
}

nav ul li.active,
nav ul li:hover {
    opacity: 1;
}

nav ul li.active::after {
    content: "v";

    position: absolute;
    bottom: -15px;
    left: calc(50% - 4px);

    font-weight: 100;

    transform: scaleX(2) scaleY(0.5);
}

/* -- main panel styling -- */
#app {
    transition: all 0.5s ease;
    margin-top: 200px;
    opacity: 0;
}

#app.show {
    margin-top: -80px;
    opacity: 1;
}

.main {
    width: calc(100% - 200px - 20px);
    margin: 0 auto;
}

.main .hero-modal {
    background-color: #fff;
}

.main .hero-modal .text-content,
.main .hero-modal .image-content {
    display: inline-block;
    vertical-align: top;
}

.main .hero-modal .text-content {
    margin-right: 25px;
    width: 50%;
}

.main .hero-modal .main-text.text-content {
    height: 300px;
}

.main .hero-modal .image-content {
    position: relative;
    width: calc(50% - 5px - 50px);
    margin-left: 25px;
    background-color: #eee;
    height: 300px;
}

.main .hero-modal .image-content .image {
    position: relative;
    height: 300px;
    transition: all 1s ease;

    background: -webkit-linear-gradient(130deg, #FAA 0%, #FDB 33%, #5fa3d4 66%, #93ecbf 100%);
    background-size: auto 300%;
}

.main .call-to-action {
    background-color: #eee;
}

.main .call-to-action .enter-action {
    margin-left: 20px;
}

.main .call-to-action .action-content,
.main .call-to-action .text-content {
    display: inline-block;
}

.main .call-to-action .action-content {
    margin-top: 15px;
    float: right;
}

.main .call-to-action .small-padded-content {
    padding: 20px 50px;
}

.main .call-to-action .text-content p.small {
    margin-bottom: 0px;
}

.main .call-to-action .text-content a {
    font-weight: 500;
}

.main .features {
    margin-top: 50px;
}

.main .features .text-content {
    display: inline-block;
}

.main .features .action-content {
    float: right;
    margin-top: 18px;
}

.main .features .action-content a {
    margin-left: 20px;
    font-weight: 500;
}

.main .features .feature-box {
    margin: 50px 0px;
}

.main .features .feature-box .image,
.main .features .feature-box .text-content {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
}

.main .features .feature-box .image {
    background-color: #fafafa;
    height: 350px;
    width: 60%;
    margin-left: 50px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main .features .feature-box .image.contrib-graph {
    height: 300px;

    background-color: #fff;
    background-image: url(/static/images/landing-page/assets/graph.png);
    background-size: contain;
}

.main .features .feature-box.left .image {
    margin-left: 0px;
}

.main .features .feature-box.left .text-content {
    margin-left: 50px;
}

.main .features .feature-box .text-content {
    position: relative;
    width: calc(40% - 50px - 5px);
    height: 350px;
}

.main .features .feature-box .text-content h2 {
    margin-top: 0px;
}

.main .features .feature-box .text-content a {
    font-weight: 500;
}

.testimonials {
    color: #fff;
    background-color: #333;
    background-image: url(/static/images/landing-page/assets/dot.png);
    background-size: 1%;
}

.testimonials .padded-content {
    padding: 110px;
}

.testimonials .text-header .text-content {
    float: left;
}

.testimonials .text-header .action-content {
    float: right;
    margin-top: 18px;
}

.testimonials blockquote.big-quote,
.testimonials .company-box {
    display: inline-block;
    vertical-align: top;
}

.testimonials blockquote.big-quote {
    width: 45%;
    margin: 30px 0px;
    padding: 0px;

    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    border: none;
}

.testimonials blockquote.big-quote cite {
    float: right;
    margin: 10px 25px 0px 0px;

    font-style: normal;
    font-size: 0.7em;
    color: #aaa;
}

.testimonials .company-box {
    width: calc(55% - 50px - 5px);
    margin: 20px 0px 0px 50px;
    text-align: center;
}

.testimonials .company-box .company {
    display: inline-block;
    margin: 5px 10px;

    height: 60px;
    width: 100px;

    background-color: #aaa;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonials .company-box .company.large {
    width: 240px;
}

.main .blog-posts {
    margin-top: 50px;
}

.main .blog-posts .text-header .text-content {
    float: left;
}

.main .blog-posts .text-header .action-content {
    float: right;
    margin-top: 15px;
}

.main .blog-posts .text-header .action-content a {
    font-weight: 500;
}

.main .blog-posts .blog-box {
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 25px);
    margin: 20px 20px 0px 0px;
}

.main .blog-posts .blog-box .blog .image {
    border-top: 8px solid #51c2af;
    height: 170px;
    background-color: #ddd;
}

.main .blog-posts .blog-box .description p {
    font-size: 0.9em;
}

/* -- styling for the x-grad component -- */
.main .hero-modal .image-content x-grad.blue-grad {
    background-position: 0 0;
}

.main .hero-modal .image-content x-grad.orange-grad {
    background-position: 100% 100%;
}

.main .hero-modal .image-content x-grad {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
}

.main .hero-modal .image-content x-grad.show {
    visibility: visible;
    opacity: 1;
}

.main .hero-modal .image-content x-grad .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main .hero-modal .image-content x-grad .bg.macbook {
    opacity: 1;

    background-image: url(/static/images/landing-page/assets/macbook.png);
    box-shadow: 0px 0px 50px rgba(228, 148, 117, 0.28);
    transition: all 1s ease;
}

.main .hero-modal .image-content x-grad .bg.iphone {
    opacity: 0;

    background-image: url(/static/images/landing-page/assets/iphone-top.png);
    box-shadow: 0px 0px 50px rgba(118, 228, 192, 0.28);

    transition: all 1s ease;
}

.main .hero-modal .image-content x-grad.blue-grad .bg.macbook {
    opacity: 0;
}

.main .hero-modal .image-content x-grad.blue-grad .bg.iphone {
    opacity: 1;
}

/* -- x-grad slides -- */
.main .hero-modal .image-content x-grad .slides {
    position: absolute;
    bottom: -25px;
    left: calc(50% - 13px);

    text-align: center;
}

.main .hero-modal .image-content x-grad .slides .slide-button {
    display: inline-block;
    width: 8px;
    height: 8px;

    border-radius: 8px;
    border: 1px solid #aaa;
}

.main .hero-modal .image-content x-grad.blue-grad .slides *:nth-child(1) {
    background-color: #aaa;
}

.main .hero-modal .image-content x-grad.orange-grad .slides *:nth-child(2) {
    background-color: #aaa;
}

/* -- generic styles -- */

h1, h2, h3 {
    margin: 10px 0px;

    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0px;
    font-weight: normal;
}

a, a:hover, a:visited {
    color: #4fc0ad;
}

a.no-style:hover {
    text-decoration: none;
    color: inherit;
}

a .arrow {
    display: inline-block;
    height: 18px;
    width: 18px;

    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.05;
    text-align: center;
    background-color: #4fc0ad;
    color: #fff;

    border-radius: 15px;
}

/* because the background of .testimonials is #444. */
.testimonials a .arrow {
    color: #444;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

a {
    cursor: pointer;
}

.flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small {
    font-size: 0.8em;
}

.box-shadow {
    box-shadow: 0px 0px 80px rgba(0,0,0,0.12);
}

.grey {
    color: #999;
}

.dark-grey {
    color: #666;
}

.bold {
    font-weight: 600;
}

.padded-content {
    padding: 50px;
}

.clear-float {
    clear: both;
}

/* -- company logos -- */
.testimonials .company-box .company.doctorondemand {
    width: 150px;
    background-image: url(/static/images/landing-page/assets/logos/doctorondemand.png);
    background-color: transparent;
}

.testimonials .company-box .company.layershift {
    width: 150px;

    background-image: url(/static/images/landing-page/assets/logos/layershift.png);
    background-color: transparent;
}

.testimonials .company-box .company.recurse {
    width: 180px;

    background-image: url(/static/images/landing-page/assets/logos/recurse.png);
    background-color: transparent;
}

.testimonials .company-box .company.solano {
    width: 190px;

    background-image: url(/static/images/landing-page/assets/logos/solano.png);
    background-color: transparent;
}

.testimonials .company-box .company.veelo {
    width: 120px;

    background-image: url(/static/images/landing-page/assets/logos/veelo.png);
    background-color: transparent;
}

.testimonials .company-box .company.panjiva {
    width: 120px;

    background-image: url(/static/images/landing-page/assets/logos/panjiva.png);
    background-color: transparent;
}

.testimonials .company-box .company.cmt {
    width: 170px;

    background-image: url(/static/images/landing-page/assets/logos/cambridge-mobile-telematics.png);
    background-color: transparent;
}

.testimonials .company-box .company.levelup {
    width: 150px;

    background-image: url(/static/images/landing-page/assets/logos/levelup.png);
    background-color: transparent;
}

.call-to-action-bottom {
    position: relative;
    padding: 250px;
    margin-top: 0px;
}

.call-to-action-bottom .footer {
    display: block;

    background: transparent;
}

.call-to-action-bottom .zulip-octopus {
    margin: 110px auto 10px auto;

    width: 40px;
    height: 40px;

    background-image: url(/static/images/landing-page/assets/zulip-octopus.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.call-to-action-bottom button.button {
    margin-top: 20px;
}

.call-to-action-bottom .footer ul {
    text-align: center;
    margin-left: 0px;
}

.call-to-action-bottom .footer li {
    display: inline-block;
    margin: 0px 10px;

    list-style-type: none;

    font-size: 0.8em;
    font-weight: 400;
    color: #fff;
}

.call-to-action-bottom .footer li:before {
    content: "◦";
    position: relative;
    left: -13px;
}

.call-to-action-bottom .footer li:first-of-type:before {
    content: "";
}

.call-to-action-bottom .real-image,
.call-to-action-bottom .blur-outer,
.call-to-action-bottom .blur-inner,
.call-to-action-bottom .inner-content {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
}

.call-to-action-bottom .real-image {
    background-image: url(/static/images/landing-page/assets/twin-peaks.png);
    background-size: 110% auto;
    background-position: bottom center;
    height: 100%;
}

.call-to-action-bottom .blur-outer {
    height: 170px;
    background-color: #666;
    overflow: hidden;

    transition: all 0.3s ease;
}

.call-to-action-bottom .blur-inner {
    height: 100%;

    background-color: #fff;
    background-image: url(/static/images/landing-page/assets/twin-peaks.png);
    background-size: 110% auto;
    background-position: bottom center;

    -webkit-filter: blur(25px) saturate(300%);
    overflow: hidden;
    opacity: 0.8;

    transition: all 0.5s ease;
}

.call-to-action-bottom .inner-content {
    height: 100%;
}

.call-to-action-bottom:hover .blur-outer {
    height: 350px;
}

.call-to-action-bottom h1 {
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

/* -- modify portico.css -- */
.app-main {
    max-width: none;
    min-width: 0;
    padding: 0 !important;
}

.header, .footer, .portico-os-announcement {
    display: none;
}

.footer-padder {
    display: none;
}

/* -- punch card plot -- */
.punchcard {
    display: inline-block;
    padding: 10px;

    background-image: url(/static/images/landing-page/assets/chart-bg.png);
    background-repeat: repeat;
    background-size: 25%;
}

.punchcard .day .hour-container {
    display: inline-block;

    width: 25px;
    height: 25px;
}

.punchcard .day .hour-container .hour {
    display: inline-block;
    background-color: #444;
    border-radius: 50px;
}

/* -- features page css -- */
.features-app .main {
    background-color: #fff;
}

.feature-page-header {
    padding-top: 0px;
    text-align: left;
}

.feature-block .flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 110px;
}

.feature-block .icon-container {
    width: 70px;
    min-width: 70px;
    text-align: center;
}

.feature-block i {
    color: #888;
    float: none;
}

.feature-block .block h4 {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa;
    margin-left: 15px;
}

.feature-block .block p {
    font-size: 1rem;
    margin-left: 15px;
    margin-bottom: 0px;
}

@media (max-width: 1050px) {
    .call-to-action-bottom .real-image,
    .call-to-action-bottom .blur-inner {
        background-size: 150% auto;
    }
}

@media (max-width: 768px) {
    .call-to-action-bottom .real-image,
    .call-to-action-bottom .blur-inner {
        background-size: 200% auto;
    }
}
